@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
  font-family: 'Red Hat Mono', monospace;
  color: rgb(255, 255, 255);
}

html, body{
  background-color: #64687a;
  margin: auto;
  height: 100vh;
}

body{
  display: flex;
  margin-top: auto;
}

#container{
  width: auto;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  zoom: 1.5;
  z-index: 1;
  padding-left: 2px;
  padding-right: 2px;
}

#container h3{
  text-align: center;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 0;
  background-color: #0e395dca;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top: solid #333131 2px;
  border-left: solid #333131 2px;
  border-right: solid #333131 2px;
  border-bottom: solid #333131 1px;
  z-index: 0;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #333131 2px;
  border-radius: 1px;
  padding: 5px;
}

.content-box{
  display: flex;
  height: 200px;
  width: 300px;
  resize: none;
  overflow: auto;
  outline: none;
  box-shadow: none;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  background-color: #cacad6;
  border-radius: 2px;
  color: #000000;
  font-size: 12px;
}

textarea{
  white-space: pre-wrap;
}

textarea::-webkit-input-placeholder {
  color: #353535;
  font-size: 12px;
}

.content-box-wrapper{
  display: flex;
  border: 3px solid #565877;
  border-radius: 5px;
}

.content-wrapper{
  display: flex;
  background-color:#0e395dca;
  border-radius: 5px;
}

#input-wrapper{
  margin-bottom: 30px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#output-wrapper{
  margin-top: 30px;
}

.buttons-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.wrapper p{
  margin-top: 0;
  margin-bottom: 10px;
}

#myLabel input{
  position: absolute;
  top: -1000px;
  width: 100%;
  height: 100%;
}

#myLabel {
  background-color: #a7eccd;
  color: #001f3fca;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;
  transition: 0.1s;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#myLabel:hover{
  background-color: #8fd3b4;
}

#output{
  margin-bottom: 10px;
}

button{
  background-color: #a7eccd;
  color: #001f3fca;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;
  transition: 0.1s;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover{
  background-color: #8fd3b4;
}

#convert-button, #download-button, #copy-button{
  width: 120px;
  height: 45px;
}

#clear-wrapper{
  margin-left: 3px;
  margin-top: 1px;
  width: 300px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#clear-button{
  transition: .4s;
  opacity: .5;
  background-color: rgb(212, 45, 45);
  padding: 3px;
  display: flex;
  justify-content: flex-end;
}

#clear-button:hover{
  transition: .4s;
  opacity: .9
}

#convert-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#convert-wrapper p{
  margin: 0;
  font-size: 15px;
  color: #ffffff;
}

.fas{
  color: #3a3a3a;
}

.fa-arrows-alt-h{
  color: #EEE2DC;
}

/*Scrollbar adjustments*/
::-webkit-scrollbar {
  width: 2px; 
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #474242;
}