@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

*{
  overflow-x: hidden;
  font-family: 'Cairo', sans-serif;
}
html, body{
  width: 100vw;
}

html{
  background-color: #101429;
  color:#6cddff;
  display: flex;
  justify-content: center;
}


body{
  display: flex;
  justify-content: center;
  margin: auto auto;
  height: 100vh;
}

#banner{
  font-size: 40px;
  width: 100%;
  text-align: center;
  border-bottom: solid 1px rgb(153, 182, 202);
}

#container{
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#overall-status{
  font-style: italic;
}

#components-status-title{
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 5px;
  align-items: flex-start;
  font-weight: lighter;
}

#componentsStatus-container{
  width: 90vw;
  background-color: #101429;

}

.components{
  border: solid 1px #6cddff;
  background-color: #191f3b;
  padding: 10px 15px;
  margin-bottom: .8em;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.check{
  display: flex;
  align-items: center;
  margin-right: 2%;
  visibility: hidden;
}

.component-title{
  font-size: 22px;
  font-weight: lighter;
  margin: 0;
}

.status{
  width: auto;
  font-size: 19px;
  margin: 0;
  display: inline;
}

#time{
  font-style: italic;
  width: 150px;
}

p{
  margin: 0;
}

.status-label{
  display: inline;
  /* color: #26a526; */
}

#lastUpdated{
  display: inline;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #63617c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #20293a; 
}


@media screen and (min-width: 701px){
  #componentsStatus-container{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 99%;
  }
  #componentsStatus{
    display: flex;
    justify-content: center;
  }
  .components-subcontainer{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .components{
    width: 90%;
    display: flex;
  }
}