*{
  font-family: Helvetica;
}

html, body{
  height: auto;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  background-color: #9093a0;
  color: #f6f7f9;
}

#container{
  background-color: #3c4552;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  padding: 5px;
  border: solid 2px rgb(34, 34, 34);
}

#output-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #555961;
  border: solid 1px rgba(0, 0, 0, 0.753);
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#output{
  font-size: 55px;
  resize: none;
  height: 50px;
  text-align: right;
  width: 100%;
  overflow-x:scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-bottom: 15px;
  cursor:grab;
}

#answer{
  font-size: 20px;
  width: 99%;
  height: 20px;
  resize: none;
  text-align: right;
  margin-top: 0;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  resize: none;
  margin-bottom: 0;
  cursor: grab;
}

/*Make calculator's output display scroll-bar invisible*/
::-webkit-scrollbar{
  height: 0px;
  background: black;
}

#rows-wrapper{
  margin-left: 5px;
  margin-right: 5px

}

.row{
  height: 75px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2px;
}

.operator, .number{
  width: 70px;
  background-color: #26344b;
  border: solid 1px rgba(102, 102, 102, 0.596);
  text-align: center;
  border-radius: 5px;
  margin: 0px 1px;
  font-size: 25px;
  display: flex;
  transition: 0.2s;
}

#zero{
  width: 49%;
}

.operator:hover, .number:hover{
  background-color: #656a74;
  cursor: pointer;
}

.operator p, .number p{
  display: inline;
  width: 100%;
}