@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

html, body{
  width: 100%;
  overflow-x: hidden;
  margin: auto auto;
  height: 100vh;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  background-color: #273851;
  color: #0DA5EF;
  margin-top: auto;
  margin-bottom: auto;
}

#add-wrapper{
  width: 100%;
}

#add-button{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 4%;
  float: right;
}

#add-icon:hover{
  opacity: .8;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: auto auto;
}

h1{
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

#notes-wrapper{
  margin: auto auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#textbox{
  width: 90%;
  height: 70vh;
  resize: none;
  border-radius: 5px;
  border: solid 1px #5B748E;
  background-color: #F0F2F2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  font-size: 20px;
}

#buttons-wrapper{
  margin-top: .5em;
  width: 92%;
  max-width: 735px;
  display: flex;
  justify-content: space-around;
}

.notes-button{
  width: 32%;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover{
  cursor: pointer;
}

#add-button{
  background-color: transparent;
  border: none;
}

#add-button *{
  color: #0DA5EF;
}
@media screen and (min-width: 775px){

  #textbox{
    max-width: 720px;
    max-height: 720px;
    font-size: 30px;
  }
}